@import "../../styles/all.scss";

.landing-page-instruction {
  color: $little_background;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .MuiSvgIcon-root {
    font-size: 50px;
  }
}
