@import "../../styles/all.scss";

.instruction-section {
  color: $little_background;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .instruction-section__icon {
    font-size: 60px;
  }
}
