@import '../../styles//all';

.farmers-list {
    .farmers-list__header {
        color: $header;
        font-size: 36px;
        white-space: pre;
        font-family: serif;
        margin-bottom: 20px;
    }

    .farmers-list__input {
        margin-bottom: 20px;
        background-color: $very_light_grey;
    }
}