@import "../../styles/all.scss";

.hero-banner {
  display: block;
  background-image: url("../../assets/images/heroBanner.png");
  background-size: 120%;
  background-repeat: no-repeat;
  height: 235px;
  background-position-x: 70%;
}
