@import "../../styles/all.scss";

.hero-banner {
  display: block;
  background-image: url("../../assets/images/heroBanner.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  height: 230px;
}
