@import "../../styles/all.scss";

.carousel-section {
  display: block;
  .carousel-section__header,.carousel-section__text {
    color: $text;
    font-size: 36px;
    font-weight: bold;
  }
  .carousel-section__image {
    height: auto;
    width: 80%;
    margin-bottom: 10px;
  }

  .carousel-section__image-wrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-section__slide {
    width: 100%;
  }
}
