@import "../../styles/all.scss";

.farmers-section {
  .farmers-section__avatar {
    width: 75px;
    height: 75px;
    margin-right: 20px;
  }

  .farmers-section__description {
    display: flex;
    align-items: center;
    color: $text;
    margin-bottom: 20px;
    body1 {
        font-size: 14px;
    }
  }
}
