@import '../../styles/all.scss';

.footer {
    background: $footer_green;
    text-align: left;
    line-height: $footer_height;
    display: block;
    height:$footer_height;
    padding: 0 $section_padding-left-right;
}