@import "../../styles/all";

.product-list-page {
  justify-content: space-between;

  .product-list-page__input {
    background-color: $very_light_grey;
    margin-bottom: 20px;
    label,input {
      padding-left: 10px;
    }
  }
}
