@import "../../styles/all.scss";

.advantage-section {
  .advantage-section__header {
    color: $text;
    font-size: 28px;
  }
  .advantage-section__card {
    background-color: $little_background;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $white;
    margin-top: 20px;

  }

  .advantage-section__avatar {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
  }
}
