$background:#f7f7f8e0;
$header:#303236;
$text:#6A6D79;
$little_background:#453D3B;
$little_background2:#67411E;
$very_light_grey:#eeeeee;
$white:#ffffff;
$CTA:#f11760;
$CTA2:#dd1f5f;
$CTA3:#2abf6a;
$upper_green: #114F2E;
$footer_green: #1E7C49;